<ul id="sidebar" class="side-nav fixed blue-grey darken-4">
  	<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Dashboard.svg", class:"svg sidebar-icons ", id: "dashboard-icon") + "<p>Dashboard</p></div>".html_safe, dashboard_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
  	<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Daily Litter Record.svg", class:"svg sidebar-icons ", id: "litter-icon") + "<p>Daily Litter Records</p></div>".html_safe, litters_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
  	<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Actual Daily Count.svg", class:"svg sidebar-icons ", id: "dailycount-icon") + "<p>Actual Daily Counts</p></div>".html_safe, pens_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
  	<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Mortality Records.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Mortality Records</p></div>".html_safe, removal_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
  	<li class="sidebar-active valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("pig.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Pigs</p></div>".html_safe, pigs_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
<main>
	<div class="fixed container">
      <%=image_tag "logo.svg", id: 'logo'%>
      <a href="">logo</a>
    <!-- Tabs of dashboard -->  
      <div class="row">
        <div class="col s10">
          	<div class="indicator deep-orange darken-2" style="z-index:1">
            	<ul class="tabs deep-orange-text text-darken-2">
              		<li class="tab grey lighten-4"><a href="#all">All Pigs</a></li>
              		<li class="tab  grey lighten-4"><a href="#add">Add Pig</a></li>
            	</ul>
          	</div>
      	</div>
      	</div>
  	</div>  
	<div class="row data">
		<div class="col s8 offset-s2" id="add">
			<div class="row">
			  	<%= simple_form_for(@pig) do |f| %>
				  	<%= f.input :ear_notch_number %>
			  		<%= f.input :breed, as: :select, collection: ["Large white", "Pure land race", "Chester white", "CEFN","Hybrid"] %>
			  		<%= f.input :birth_weight %>
			  		<%= f.input :date_weaned %>
			  		<%= f.input :dam_id%>
			  		<%= f.input :sire_id%>
			  		<%= f.input :pen_id%>
			  		<%= f.input :sex%>
			  		<%= f.button :submit %>
				<% end %>
			</div>
		</div>
		<div class="col s8 offset-s2" id="all">
			<table class="striped">
				<thead>
					<tr>
						<th>Ear Notch Number</th>
						<th>Sex</th>
						<th>Breed</th>
						<th>Date of Birth</th>
						<th>Dam</th>
						<th>Sire</th>
					</tr>
				</thead>
				<tbody>
					<% Pig.all.each do |pig| %>
						<tr>
							<td><%= pig.ear_notch_number.to_s[2..-1] %></td>
							<td><%= pig.sex %></td>
							<td><%= pig.breed %></td>
							<td><%= pig.date_of_birth.strftime("%B %d, %Y") %></td>
							<td><%= pig.litter.dam_id %></td>
							<td><%= pig.litter.sire_id %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</main>