<ul id="sidebar" class="side-nav fixed blue-grey darken-4">
  	<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Dashboard.svg", class:"svg sidebar-icons ", id: "dashboard-icon") + "<p>Dashboard</p></div>".html_safe, dashboard_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
  	<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Daily Litter Record.svg", class:"svg sidebar-icons ", id: "litter-icon") + "<p>Daily Litter Records</p></div>".html_safe, litters_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
  	<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Actual Daily Count.svg", class:"svg sidebar-icons ", id: "dailycount-icon") + "<p>Daily Counts</p></div>".html_safe, pens_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
  	<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Mortality Records.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Mortality Records</p></div>".html_safe, removal_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
  	<li class="sidebar-active valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("pig.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Pigs</p></div>".html_safe, pigs_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
<main>
	<div class="fixed container header">
      	<div class="row valign-wrapper">
      		<%=image_tag "logo.svg", id: 'logo'%>
      		<h5 class="valign">Pigs</h5>
    	</div>
    </div>
	<div class="row data">
		<div class="col s8 offset-s2" id="all">
			<div class="center-align row">
	            <%= link_to "ADD NEW PIG", new_pig_path, class: "btn deep-orange darken-2 center-align", method: :get %>
          	</div>
			<table class="striped responsive-table">
				<thead>
					<tr>
						<th>Ear Notch Number</th>
						<th>Sex</th>
						<th>Breed</th>
						<th>Date of Birth</th>
						<th>Dam</th>
						<th>Sire</th>
					</tr>
				</thead>
				<tbody>
					<% if Pig.all.size == 0 %>
						<td colspan="6"><p class="center-align">No pigs yet! Add a new pig above.</p></td>
					<% else %>
						<% Pig.all.each do |pig| %>
							<tr>
								<td><%= pig.ear_notch_number.to_s[2..-1] %></td>
								<td><%= pig.sex %></td>
								<td><%= pig.try(:breed) %></td>
								<td><%= pig.try(:date_of_birth).strftime("%B %d, %Y") %></td>
								<td><%= pig.try(:litter).try(:dam).try(:ear_notch_number).to_s[2..-1] %></td>
								<td><%= pig.try(:litter).try(:sire).try(:ear_notch_number).to_s[2..-1] %></td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</main>