<ul id="sidebar" class="side-nav fixed blue-grey darken-4">
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Dashboard.svg", class:"svg sidebar-icons ", id: "dashboard-icon") + "<p>Dashboard</p></div>".html_safe, dashboard_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="sidebar-active valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Daily Litter Record.svg", class:"svg sidebar-icons ", id: "litter-icon") + "<p>Daily Litter Records</p></div>".html_safe, litters_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Actual Daily Count.svg", class:"svg sidebar-icons ", id: "dailycount-icon") + "<p>Daily Counts</p></div>".html_safe, pens_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Mortality Records.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Removal Records</p></div>".html_safe, cause_of_removals_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("pig.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Pigs</p></div>".html_safe, pigs_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
<main>
  <div class="fixed container ">
    <div class="row valign-wrapper header">
      <%=image_tag "logo.svg", id: 'logo'%>
      <h5 class="valign">Daily Litter Records</h5>
      <!-- <a href="">logout</a> -->
    </div>
  </div>  
  <!-- DATA -->
  <div class="row data">
    <div id="all" class="col s12">

      <div class="container">
          <div class="center-align row">
            <%= link_to "ADD NEW LITTER", new_litter_path, class: "btn deep-orange darken-2 center-align", method: :get %>
          </div>
          <table class="striped">
            <thead>
              <tr>
                  <th data-field="pig_id" class="right-align">Dam's ID</th>
                  <th data-field="sex" class="right-align">Parity #</th>
                  <th data-field="bweight" class="right-align">Sire's ID</th>
                  <th data-field="bweight" class="right-align">Litter Size at Birth</th>
                  <th data-field="wweight" class="right-align">Actual Date of Farrowing</th>
                  <th class="right-align">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% if @litters.size == 0 %>
                <td colspan="7"><p class="center-align">No litters yet! Add a new litter above.</p></td>
              <% else %>
                <% @litters.each do |litter| %>
                  <tr>
                    <% dam_earnotch = Pig.where(pig_id: litter.dam_id).first.ear_notch_number %>
                    <% sire_earnotch = Pig.where(pig_id: litter.sire_id).first.ear_notch_number %>
                    <%# dam_earnotch = Pig.where(pig_id: 12).first.ear_notch_number %>
                    <%# sire_earnotch = Pig.where(pig_id: 12).first.ear_notch_number %>
                    <td class="right-align"><%=dam_earnotch.to_s[2..-1]%></td>
                    <td class="right-align"><%=litter.try(:parity_number)%></td>
                    <td class="right-align"><%=sire_earnotch.to_s[2..-1]%></td>
                    <td class="right-align"><%=litter.try(:litter_size_at_birth)%></td>
                    <td class="right-align"><%=litter.try(:actual_date_of_farrowing).strftime("%B %d, %Y") %></td>
                    <td class="right-align"><%=link_to "View", litter_path(litter.id), method: :get, target: :new %><%=link_to "Update", edit_litter_path(litter.id), method: :get, target: :new %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
  </div>
</main>
