<ul id="sidebar" class="side-nav fixed blue-grey darken-4">
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Dashboard.svg", class:"svg sidebar-icons ", id: "dashboard-icon") + "<p>Dashboard</p></div>".html_safe, dashboard_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="sidebar-active valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Daily Litter Record.svg", class:"svg sidebar-icons ", id: "litter-icon") + "<p>Daily Litter Records</p></div>".html_safe, litters_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Actual Daily Count.svg", class:"svg sidebar-icons ", id: "dailycount-icon") + "<p>Actual Daily Counts</p></div>".html_safe, actualdailycount_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Mortality Records.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Mortality Records</p></div>".html_safe, removal_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
<main>
  <div class="fixed container">
      <%=image_tag "logo.svg", id: 'logo'%>
      <a href="">logo</a>
    <!-- Tabs of dashboard -->  
      <div class="row">
        <div class="col s10 offset-s1">
          <div class="indicator deep-orange darken-2" style="z-index:1">
            <ul class="tabs deep-orange-text text-darken-2">
              <li class="tab grey lighten-4"><a href="#all">All Daily Litter Records</a></li>
              <li class="tab  grey lighten-4"><a href="#add">Add New Litter</a></li>
              <li class="tab grey lighten-4"><a href="#search">Search and Update</a></li>
            </ul>
          </div>
      </div>
      </div>
  </div>  
  <!-- DATA -->
  <div class="row data">
    <div id="all" class="col s12">
      <div class="container" style="width:100%">
      <div class="col s8 offset-s2">
      <br>
      <table class="striped">
        <thead>
          <tr>
              <th data-field="pig_id">Dam's ID</th>
              <th data-field="sex">Parity #</th>
              <th data-field="bweight">Sire's ID</th>
              <th data-field="bweight">Litter Size at Birth</th>
              <th data-field="wweight">Actual Date of Farrowing</th>
          </tr>
        </thead>

        <tbody>
          <% @litters.each do |litter| %>
            <tr>
              <td><%=litter.dam_id%></td>
              <td><%=litter.parity_number%></td>
              <td><%=litter.sire_id%></td>
              <td><%=litter.litter_size_at_birth%></td>
              <td><%=litter.actual_date_of_farrowing.strftime("%B %d, %Y") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      </div></div>

  <!-- ADD -->
    <div id="add" class="col s8 offset-s2">
       <div class="container">
        <div class="col s12">       
        <%= simple_form_for @litter, html: { class: "input-form"} do |f|%>
          <div class="row">
            <h6>Parents' information:</h6>
            <div class="row">
              <div class="col s8">
                <%= f.input :dam_id, label: "Dam's ear notch number:" %>
              </div>
              <div class="col s4">
                <%= f.input :parity_number, as: :select, collection: 1...10,label: "Parity number (P#):" %>
              </div>
            </div>
            <div class="row">
              <div class="col s8">
                <%= f.input :sire_id, label: "Sire's ear notch number:" %>
              </div>
            </div>
          </div>
          
          
          <div class="row">
            <h6>Relevant dates:</h6>
            <div class="row">
              <div class="col s7">
                <%= f.input :date_bred, as: :string, input_html: {type: :date} %>
              </div>   
            </div>
            <div class="row">
              <div class="col s7">
                <%= f.input :due_to_farrow, as: :string, input_html: {type: :date} %>
              </div>
            </div>
            <div class="row">
              <div class="col s7">
               <%= f.input :actual_date_of_farrowing, as: :string, input_html: {type: :date}%>
              </div>
            </div>
          </div>
          <div class="row">
            <h6>Birth information:</h6>
            <div class="row">
              <div class="col s12">

              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <%= f.input :mummified_piglets %>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <%= f.input :stillborn_piglets %>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <%= f.input :litter_size_at_birth %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <select id="male-piglets">
                  <option value="" disabled selected></option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                </select>
                <label>How many alive male piglets?</label>
              </div>
              <div class="input-field col s6">
                <select id="female-piglets">
                  <option value="" disabled selected></option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                </select>
                <label>How many alive female piglets?</label>
              </div>
            </div>
          </div>

            <%= f.simple_fields_for :pigs do |p| %>
              <%=render 'pig_fields', f: p %>
              <%= link_to_add_association 'add pig', f, :pigs %>
            <% end %>

            <a class="waves-effect waves-light btn" id="add-piglets">Add Piglets</a>
            <%= f.button :submit, label: 'CREATE NEW LITTER' %>
        <% end %>
        
        </div>       
      </div>
    </div>
    <div id="search" class="col s12">
    </div>
  </div>
</main>
