<ul id="sidebar" class="side-nav fixed blue-grey darken-4">
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Dashboard.svg", class:"svg sidebar-icons ", id: "dashboard-icon") + "<p>Dashboard</p></div>".html_safe, dashboard_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="sidebar-active valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Daily Litter Record.svg", class:"svg sidebar-icons ", id: "litter-icon") + "<p>Daily Litter Records</p></div>".html_safe, litters_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Actual Daily Count.svg", class:"svg sidebar-icons ", id: "dailycount-icon") + "<p>Daily Counts</p></div>".html_safe, pens_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Mortality Records.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Removal Records</p></div>".html_safe, cause_of_removals_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("pig.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Pigs</p></div>".html_safe, pigs_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
<main>
  <div class="fixed container ">
      <div class="row valign-wrapper header">
        <%=image_tag "logo.svg", id: 'logo'%>
        <%= link_to "Daily Litter Records", litters_path, class:'valign', method: :get%>
        <!-- <h5 class="valign">Daily Litter Records</h5> -->
        <h5 class="valign separator">></h5>
        <h5 class="valign">New Litter</h5>
        <!-- <a href="">logout</a> -->
      </div>
  </div>
  <!-- DATA -->
  <div class="row data">
        <div id="add" class="col s10 offset-s1">
       <div class="container">
        <div class="col s10 offset-s1">       
        <%= simple_form_for @litter, html: { class: "input-form", id: "add-litter-form"} do |f|%>
          <div class="row">
            <div class="row">
              <h6>Parents' information:</h6>
            </div>
            <div class="row">
              <div class="col s8">
                <%# f.input :dam_id, label: "Dam's ear notch number:" %>
                <%= f.hidden_field :dam_id, :id => "dam_value" %>
                <%= f.input :dam, url: autocomplete_pig_ear_notch_number_litters_path(sex: "M"), as: :autocomplete,id_element: '#dam_value', label: "Dam's ear notch number", required: true %>
              </div>
              <div class="col s4">
                <%= f.input :parity_number, as: :select, collection: 1...10,label: "Parity number (P#)" %>
              </div>
              <div class="col s12">
                <%= f.hidden_field :sire_id, :id => "sire_value" %>
                <%= f.input :sire, url: autocomplete_pig_ear_notch_number_litters_path(sex: "F"), as: :autocomplete, id_element: '#sire_value', label: "Sire's ear notch number", required: true  %>
              </div>
            </div>
            <div class="row">
              <div class="col s8">
                <%# f.input :sire_id, label: "Sire's ear notch number:" %>
              </div>
            </div>
          </div>
          
          
          <div class="row">
            <div class="row">
              <h6>Relevant dates:</h6>
            </div>
            <div class="row">
              <div class="col s6">
                <%= f.input :date_bred, as: :string, input_html: {type: :date} %>
              </div>   
            </div>
            <div class="row">
              <div class="col s6">
                <%= f.input :due_to_farrow, as: :string, input_html: {type: :date} %>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
               <%= f.input :actual_date_of_farrowing, as: :string, input_html: {type: :date}%>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <h6>Piglets' information:</h6>
            </div>
            <div class="row">
              <div class="col s8">
                <%# f.input :breed, as: :select, collection: ["Large white", "Pure land race", "Chester white",  "CEFN", "Hybrid"] %>
                <%# select("breed", ["Large white", "Pure land race", "Chester white",  "CEFN", "Hybrid"], {include_blank: 'Select the breed of the piglets'}) %>
                <div class="select-wrapper">
                  <%= select_tag "breed", options_for_select(@breeds.each.map {|name| [name]}), required: true,  include_blank: "", id: 'select-breed'%>
                  <label>Select breed of piglets:</label>
                </div>                
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <%= f.input :mummified_piglets %>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <%= f.input :stillborn_piglets %>
              </div>
            </div>
            
            <div class="row">
              <div class="input-field col s6">
                <select id="male-piglets">
                  <option value="0" selected>0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                </select>
                <label>How many alive male piglets?</label>
              </div>
              <div class="input-field col s6">
                <select id="female-piglets">
                  <option value="0" selected>0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                </select>
                <label>How many alive female piglets?</label>
              </div>
            </div>
            <div class="row center-align">
              <a class="waves-effect waves-light btn center-align blue-grey darken-4 disabled" id="add-piglets">SELECT BREED ABOVE</a>
              <p id="warning-piglets" class="center-align">Add at least 1 alive piglet</p>
            </div>
          </div>
          <div id="pigs" class="row">
          <%# without prefix (@earnotch-1).to_s[2..-1]%>
          <h6>Piglets: <span id="ear">(Last ear notch number: <span id="last-ear-notch"><%=(@earnotch-1).to_s%></span>)</span></h6>
          
            <%= f.simple_fields_for :pigs, html: {id: "add-pigs-form"} do |p| %>
            <% end%>
            <div id="links">
              <%= link_to_add_association 'add pig', f, :pigs, html_options: {"data-association-insertion-method"=> :after, "render_options"=> :simple_fields_for}, id: 'add-pig', hidden: true, :wrap_object => Proc.new {|p| p = Pig.new},  :locals => { :breed => params[:breed]}%>

            </div>
          </div>
          <div class="center-align row">
            <%= f.button :submit, label: 'CREATE NEW LITTER', disabled: true, class: 'center-align', id: 'submit-litter' %>
          </div>
        <% end %>
        
        </div>       
      </div>
    </div>
  </div>
</main>
