<ul id="sidebar" class="side-nav fixed blue-grey darken-4">
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Dashboard.svg", class:"svg sidebar-icons ", id: "dashboard-icon") + "<p>Dashboard</p></div>".html_safe, dashboard_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <% if user_signed_in? %>
      <li class="sidebar-active valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Daily Litter Record.svg", class:"svg sidebar-icons ", id: "litter-icon") + "<p>Daily Litter Records</p></div>".html_safe, litters_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Actual Daily Count.svg", class:"svg sidebar-icons ", id: "dailycount-icon") + "<p>Daily Counts</p></div>".html_safe, pens_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Mortality Records.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Removal Records</p></div>".html_safe, cause_of_removals_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("pig.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Pigs</p></div>".html_safe, pigs_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("logout.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Logout</p></div>".html_safe, destroy_user_session_path, method: :delete, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <% else %>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("login.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Login</p></div>".html_safe, new_user_session_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <% end %>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
<main>
  <div class="fixed container ">
      <div class="row valign-wrapper header">
        <%=image_tag "logo.svg", id: 'logo'%>
        <%= link_to "Daily Litter Records", litters_path, class:'valign', method: :get%>
        <!-- <h5 class="valign">Daily Litter Records</h5> -->
        <h5 class="valign separator">></h5>
        <h5 class="valign">View Litter</h5>
        <!-- <a href="">logout</a> -->
      </div>
  </div>
  <!-- DATA -->
  <div class="row data">
    <div id="add" class="col s10 offset-s1">
      <div class="row">
        <h6 class="text-bold">Parents' information:</h6>
        <div class="row">
          <div class="col s4">
            <table>
              <thead>
                <th colspan="2">SOW'S INFORMATION</th>  
              </thead>
              <tbody>
                <tr>
                  <td>Dam ID:</td>
                  <td><%=@dam.ear_notch_number.to_s[2..-1]%></td>
                </tr>
                <tr>
                  <td>Breed:</td>
                  <td><%= @dam.breed %></td>
                </tr>
                <tr>
                  <td>Dam: </td>
                  <td><%=dam_damid = Pig.where(pig_id: @dam.dam_id).first.try(:ear_notch_number).to_s[2..-1] unless !dam_damid.nil? %></td>
                </tr>
                <tr>
                  <td>Sire: </td>
                  <td><%=dam_sireid = Pig.where(pig_id: @dam.sire_id).first.try(:ear_notch_number).to_s[2..-1] unless !dam_sireid.nil? %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col s4">
            <table>
              <thead>
                <th colspan="2">LITTER'S INFORMATION</th>
              </thead>
              <tbody>
                <tr>
                  <td>Actual Date of Farrowing:</td>
                  <td><%= @litter.actual_date_of_farrowing.strftime("%B %d, %Y") %></td>
                </tr>
                <tr>
                  <td>Due to Farrow: </td>
                  <td><%= @litter.due_to_farrow.strftime("%B %d, %Y")%></td>
                </tr>
                <tr>
                  <td>Parity #:</td>
                  <td><%= @litter.parity_number %></td>
                </tr>
                <tr>
                  <td>Litter Size at Birth:</td>
                  <td><%= @litter.litter_size_at_birth %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col s4">
            <table>
              <thead>
                <th colspan="2">SIRE'S INFORMATION</th>  
              </thead>
              <tbody>
                <tr>
                  <td>Ear notch number:</td>
                  <td><%=@sire.ear_notch_number.to_s[2..-1]%></td>
                </tr>
                <tr>
                  <td>Breed:</td>
                  <td><%= @sire.breed %></td>
                </tr>
                <tr>
                  <td>Dam: </td>
                  <td><%=sire_damid = Pig.where(pig_id: @sire.dam_id).first.try(:ear_notch_number).to_s[2..-1] unless !sire_damid.nil? %></td>
                </tr>
                <tr>
                  <td>Sire: </td>
                  <td><%=sire_sireid = Pig.where(pig_id: @sire.sire_id).first.try(:ear_notch_number).to_s[2..-1] unless !sire_sireid.nil? %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <div class="row">
        <h6 class="center-align text-bold">Piglets' information:</h6>
        <div class="col s6 offset-s3">
          <table>
            <tr> 
              <td class="center-align">Mummified piglets: <%= @litter.mummified_piglets %></td>
            </tr>
            <tr> 
              <td class="center-align">Stillborn piglets: <%= @litter.stillborn_piglets %></td>
            </tr>
            <tr>
              <td class="center-align">Breed: <%= @litter.pigs.first.breed %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="center-align row">
          <%= link_to "Update piglets information",edit_litter_path(@litter.id), method: :get,  class: 'waves-effect waves-light btn blue-grey darken-4 center-align'%>
      </div>
      <div id="pigs" class="row"> 
        <table>
          <thead>
            <th>Ear Notch Number</th>
            <th>Sex</th>
            <th class="right-align">Birth Weight</th>
            <th class="right-align">Weaning Weight</th>
            <th class="right-align">Date Weaned</th>
          </thead>
          <tbody> 
               
            <% @litter.pigs.each do |p| %>
              <tr>
                  <td><%= p.ear_notch_number.to_s[2..-1] %></td>
                  <td><%= p.sex %></td>
                  <td class="right-align"><%= p.birth_weight %></td>
                  <td class="right-align"><%= p.weaning_weight != 0 ? p.weaning_weight : "Not yet"%></td>
                  <td class="right-align"><%= p.date_weaned.present? ? p.date_weaned.strftime("%B %d, %Y") : "Not yet"  %></td>
              </tr>
            <% end%>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</main>
