<ul id="sidebar" class="side-nav fixed blue-grey darken-4">
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Dashboard.svg", class:"svg sidebar-icons ", id: "dashboard-icon") + "<p>Dashboard</p></div>".html_safe, dashboard_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Daily Litter Record.svg", class:"svg sidebar-icons ", id: "litter-icon") + "<p>Daily Litter Records</p></div>".html_safe, litters_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="sidebar-active valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Actual Daily Count.svg", class:"svg sidebar-icons ", id: "dailycount-icon") + "<p>Daily Counts</p></div>".html_safe, pens_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Mortality Records.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Removal Records</p></div>".html_safe, cause_of_removals_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("pig.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Pigs</p></div>".html_safe, pigs_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
<main>
  <div class="fixed container ">
    <div class="row valign-wrapper header">
      <%=image_tag "logo.svg", id: 'logo'%>
      <%= link_to "All Daily Counts", pens_path, class:'valign', method: :get%>
      <h5 class="valign separator">></h5>
      <h5 class="valign">Counts for <%= @date.strftime("%B %d, %Y")%></h5>
      <!-- <a href="">logout</a> -->
    </div>
  </div>  
  <div class="row data">
    <div class="row">
      <div class="col s12 center-align">
        <a class="waves-effect waves-light btn blue-grey darken-4" id="open">OPEN ALL</a>
        <a class="waves-effect waves-light btn blue-grey darken-4" id="close">CLOSE ALL</a>
      </div>
    </div>
    <div class="row">
      <div class="col s6 offset-s3">
        <ul class="collapsible" data-collapsible="expandable">
          <% @buildings.each do |building| %>
            <% @pens = Pen.where(building_number: building.building_number) %>
            <% @half = @pens.length/2 %>
            <li>
              <div class="collapsible-header"><span class="new badge">4</span>Building <%=building.building_number%>: <%=building.building_name%></div>
              <div class="collapsible-body">
                <div class="row">
                  <div class="col s4 offset-s4">
                    <table>
                      <tbody>
                        <% @pens[0..@half-1].each_with_index do |pen, index| %>
                          <tr>
                            <td><%=pen.pen_number%>: 0</td>
                            <td><%=@pens[index+@half].pen_number%>: 0</td>
                          </tr>                
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>