<ul id="sidebar" class="side-nav fixed blue-grey darken-4">
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Dashboard.svg", class:"svg sidebar-icons ", id: "dashboard-icon") + "<p>Dashboard</p></div>".html_safe, dashboard_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Daily Litter Record.svg", class:"svg sidebar-icons ", id: "litter-icon") + "<p>Daily Litter Records</p></div>".html_safe, litters_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="sidebar-active valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Actual Daily Count.svg", class:"svg sidebar-icons ", id: "dailycount-icon") + "<p>Daily Counts</p></div>".html_safe, pens_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Mortality Records.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Removal Records</p></div>".html_safe, cause_of_removals_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("pig.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Pigs</p></div>".html_safe, pigs_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
<main>
  <div class="fixed container ">
    <div class="row valign-wrapper header">
      <%=image_tag "logo.svg", id: 'logo'%>
      <%= link_to "All Daily Counts", pens_path, class:'valign', method: :get%>
      <h5 class="valign separator">></h5>
      <h5 class="valign">Counts for <%= @date.strftime("%B %d, %Y")%></h5>
      <!-- <a href="">logout</a> -->
    </div>
  </div>  
  <div class="row data">
    <div class="col s12">
      <% @buildings[0..6].each do |building| %>
        <% @pens = Pen.where(building_number: building.building_number) %>
        <% @half = @pens.length/2 %>
        <div class="col s2">
          <table class="striped">
            <thead>
              <tr>
                <th colspan="2" class="center-align">Bldg <%=building.building_number.to_s%>: <%=building.building_name%></th>
              </tr>
              <tr>
                <% if @pens.first.headcounts.headcountpens(@date).count == 0 %>
                  <td colspan="2" class="center-align">
                    <%=link_to "Add Headcount", pen_edit_all_path(pen_id: building.building_number, headcount_date: @date), target: :new%>
                  </td>
                <% else %>
                  <td colspan="2" class="center-align">
                    <span class="headcounts center-align"><%=@pens.includes(:headcounts).where('headcounts.headcount_date = ?', @date).sum("headcount")%></span>
                  </td>
                <% end %>
              </tr>
            </thead>
            <tbody>
              
              <% @pens[0..@half-1].each_with_index do |pen, index| %>
                <tr>
                  <td>P<%=pen.pen_number%>: <span class="text-bold"><%=pen.headcounts.headcountpens(@date).first.headcount if pen.headcounts.headcountpens(@date).present? %></span></td>
                  <td>P<%=@pens[index+@half].pen_number%>: <span class="text-bold"><%=@pens[index+@half].headcounts.headcountpens(@date).first.headcount if @pens[index+@half].headcounts.headcountpens(@date).present? %></span></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <%end%>
      <div class="col s2">
        <% @buildings[7..10].each do |building| %>
          <% @pens = Pen.where(building_number: building.building_number) %>
          <% @half = @pens.length/2 %>
          <table class="striped">
            <thead>
              <tr>
                <th colspan="2" class="center-align">Bldg <%=building.building_number.to_s%>: <%= building.building_name %></th>
              </tr>
              <tr>
                <% if @pens.first.headcounts.headcountpens(@date).count == 0 %>
                  <td colspan="2" class="center-align">
                    <%=link_to "Add Headcount", pen_edit_all_path(pen_id: building.building_number, headcount_date: @date), target: :new%>
                  </td>
                <% else %>
                  <td colspan="2" class="center-align">
                    <span class="headcounts center-align"><%=@pens.includes(:headcounts).where('headcounts.headcount_date = ?', @date).sum("headcount")%></span>
                  </td>
                <% end %>
              </tr>
            </thead>
          </table>
        <% end %>
      </div>
      <% @buildings[11..13].each do |building| %>
        <% @pens = Pen.where(building_number: building.building_number) %>
        <% @half = @pens.length/2 %>
        <div class="col s2">
          <table class="striped">
            <thead>
              <tr>
                <th colspan="2" class="center-align">Bldg <%=building.building_number.to_s%>: <%=building.building_name%></th>
              </tr>
              <tr>
                <% if @pens.first.headcounts.headcountpens(@date).count == 0 %>
                  <td colspan="2" class="center-align">
                    <%=link_to "Add Headcount", pen_edit_all_path(pen_id: building.building_number, headcount_date: @date), target: :new%>
                  </td>
                <% else %>
                  <td colspan="2" class="center-align">
                    <span class="headcounts center-align"><%=@pens.includes(:headcounts).where('headcounts.headcount_date = ?', @date).sum("headcount")%></span>
                  </td>
                <% end %>
              </tr>
            </thead>
            <tbody>
              
              <% @pens[0..@half-1].each_with_index do |pen, index| %>
                <tr>
                  <td>P<%=pen.pen_number%>: <span class="text-bold"><%=pen.headcounts.headcountpens(@date).first.headcount if pen.headcounts.headcountpens(@date).present? %></span></td>
                  <td>P<%=@pens[index+@half].pen_number%>: <span class="text-bold"><%=@pens[index+@half].headcounts.headcountpens(@date).first.headcount if @pens[index+@half].headcounts.headcountpens(@date).present? %></span></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <%end%>
      <div class="col s2">
        <% @buildings[14,15].each do |building| %>
          <% @pens = Pen.where(building_number: building.building_number) %>
          <% @half = @pens.length/2 %>
          <table class="striped">
            <thead>
              <tr>
                <th colspan="2" class="center-align">Bldg <%=building.building_number.to_s%>: <%= building.building_name %></th>
              </tr>
              <tr>
                <% if @pens.first.headcounts.headcountpens(@date).count == 0 %>
                  <td colspan="2" class="center-align">
                    <%=link_to "Add Headcount", pen_edit_all_path(pen_id: building.building_number, headcount_date: @date), target: :new%>
                  </td>
                <% else %>
                  <td colspan="2" class="center-align">
                    <span class="headcounts center-align"><%=@pens.includes(:headcounts).where('headcounts.headcount_date = ?', @date).sum("headcount")%></span>
                  </td>
                <% end %>
              </tr>
            </thead>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</main>