<main class="pdf-container hdcnts">
  <div class="center-align">
      <div class="row flex">
        <div>
          <%=wicked_pdf_image_tag "logo.svg", id: 'logo'%>
          <p>Headcount for <%=Date.parse(@date).strftime("%B %d, %Y")%> | Total: <span class="text-bold"><%=Headcount.where(headcount_date: @date).sum("headcount")%></span></p>
        </div>
      </div>
  </div>
  <div class="row data">
    <div class="col s12">
      <% @buildings[0..6].each do |building| %>
        <% @pens = Pen.where(building_number: building.building_number) %>
        <% @half = @pens.length/2 %>
        <div class="col s2">
          <table class="">
            <thead>
              <tr>
                <th colspan="2" class="center-align">Bldg <%=building.building_number.to_s%>: <%=building.building_name%></th>
              </tr>
              <tr>
                <% if @pens.first.headcounts.headcountpens(@date).count == 0 %>
                  <td colspan="2" class="center-align">
                    <%=link_to "Add Headcount", pen_edit_all_path(pen_id: building.building_number, headcount_date: @date), target: :new%>
                  </td>
                <% else %>
                  <td colspan="2" class="center-align">
                    <span class="text-bold center-align"><%=@pens.includes(:headcounts).where('headcounts.headcount_date = ?', @date).sum("headcount")%></span>
                  </td>
                <% end %>
              </tr>
            </thead>
            <tbody>
              
              <% @pens[0..@half-1].each_with_index do |pen, index| %>
                <tr>
                  <td>P<%=pen.pen_number%>: <span class="text-bold"><%=pen.headcounts.headcountpens(@date).first.headcount if pen.headcounts.headcountpens(@date).present? %></span></td>
                  <td>P<%=@pens[index+@half].pen_number%>: <span class="text-bold"><%=@pens[index+@half].headcounts.headcountpens(@date).first.headcount if @pens[index+@half].headcounts.headcountpens(@date).present? %></span></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <%end%>
      <div class="col s2">
        <% @buildings[7..10].each do |building| %>
          <% @pens = Pen.where(building_number: building.building_number) %>
          <% @half = @pens.length/2 %>
          <table class="">
            <thead>
              <tr>
                <th colspan="2" class="center-align">Bldg <%=building.building_number.to_s%>: <%= building.building_name %></th>
              </tr>
              <tr>
                <% if @pens.first.headcounts.headcountpens(@date).count == 0 %>
                  <td colspan="2" class="center-align">
                    <%=link_to "Add Headcount", pen_edit_all_path(pen_id: building.building_number, headcount_date: @date), target: :new%>
                  </td>
                <% else %>
                  <td colspan="2" class="center-align">
                    <span class="text-bold center-align"><%=@pens.includes(:headcounts).where('headcounts.headcount_date = ?', @date).sum("headcount")%></span>
                  </td>
                <% end %>
              </tr>
            </thead>
          </table>
        <% end %>
      </div>
      <% @buildings[11..13].each do |building| %>
        <% @pens = Pen.where(building_number: building.building_number) %>
        <% @half = @pens.length/2 %>
        <div class="col s2">
          <table class="">
            <thead>
              <tr>
                <th colspan="2" class="center-align">Bldg <%=building.building_number.to_s%>: <%=building.building_name%></th>
              </tr>
              <tr>
                <% if @pens.first.headcounts.headcountpens(@date).count == 0 %>
                  <td colspan="2" class="center-align">
                    <%=link_to "Add Headcount", pen_edit_all_path(pen_id: building.building_number, headcount_date: @date), target: :new%>
                  </td>
                <% else %>
                  <td colspan="2" class="center-align">
                    <span class="text-bold center-align"><%=@pens.includes(:headcounts).where('headcounts.headcount_date = ?', @date).sum("headcount")%></span>
                  </td>
                <% end %>
              </tr>
            </thead>
            <tbody>
              
              <% @pens[0..@half-1].each_with_index do |pen, index| %>
                <tr>
                  <td>P<%=pen.pen_number%>: <span class="text-bold"><%=pen.headcounts.headcountpens(@date).first.headcount if pen.headcounts.headcountpens(@date).present? %></span></td>
                  <td>P<%=@pens[index+@half].pen_number%>: <span class="text-bold"><%=@pens[index+@half].headcounts.headcountpens(@date).first.headcount if @pens[index+@half].headcounts.headcountpens(@date).present? %></span></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <%end%>
      <div class="col s2">
        <% @buildings[14,15].each do |building| %>
          <% @pens = Pen.where(building_number: building.building_number) %>
          <% @half = @pens.length/2 %>
          <table class="">
            <thead>
              <tr>
                <th colspan="2" class="center-align">Bldg <%=building.building_number.to_s%>: <%= building.building_name %></th>
              </tr>
              <tr>
                <% if @pens.first.headcounts.headcountpens(@date).count == 0 %>
                  <td colspan="2" class="center-align">
                    <%=link_to "Add Headcount", pen_edit_all_path(pen_id: building.building_number, headcount_date: @date), target: :new%>
                  </td>
                <% else %>
                  <td colspan="2" class="center-align">
                    <span class="text-bold center-align"><%=@pens.includes(:headcounts).where('headcounts.headcount_date = ?', @date).sum("headcount")%></span>
                  </td>
                <% end %>
              </tr>
            </thead>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</main>