<ul id="sidebar" class="side-nav fixed blue-grey darken-4">
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Dashboard.svg", class:"svg sidebar-icons ", id: "dashboard-icon") + "<p>Dashboard</p></div>".html_safe, dashboard_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Daily Litter Record.svg", class:"svg sidebar-icons ", id: "litter-icon") + "<p>Daily Litter Records</p></div>".html_safe, litters_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="sidebar-active valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Actual Daily Count.svg", class:"svg sidebar-icons ", id: "dailycount-icon") + "<p>Daily Counts</p></div>".html_safe, pens_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Mortality Records.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Removal Records</p></div>".html_safe, cause_of_removals_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("pig.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Pigs</p></div>".html_safe, pigs_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
<main>
  <div class="fixed container ">
    <div class="row valign-wrapper header">
      <%=image_tag "logo.svg", id: 'logo'%>
      <h5 class="valign">Daily Counts</h5>
      <!-- <a href="">logout</a> -->
    </div>
  </div>  
  <div class="row data">
    <div class="row buttons">
      <div class="col s6 offset-s3 center-align">
        <!-- <a class="waves-effect waves-light btn blue-grey darken-4" id="open">OPEN ALL</a>
        <a class="waves-effect waves-light btn blue-grey darken-4" id="close">CLOSE ALL</a> -->
        <div class="center-align row">
          <%= form_tag headcount_pens_path, method: :get, class: 'input-form' do %>
            <div class="row">
            <label class="right-align" for="headcount_date">Select date for new headcount:</label>
              <div class="col s8 offset-s2">
                <%= date_field("headcount_date", "headcount_date", default: DateTime.now, max: Date.today, label: "Date of headcount:", class:'center-align')%>
              </div>
            </div>
            <div class="row">
              <%= submit_tag "ADD NEW COUNT", class: "btn deep-orange darken-2 center-align" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row" id="all">
      <div class="col s10 offset-s1">
        <!-- <h6>Total counts as of: <%#@latest_date.strftime("%B %d, %Y")%></h6> -->
        <table class="responsive-table">
          <thead>
            <tr>
                <th data-field="building_number" class="right-align">Building #</th>
                <% (1..16).each do |i| %>
                  <td class="center-align"><%=i%></td>
                <%end%>
                <th>Total</th>
            </tr>
          </thead>

          <tbody>
            <% if @headcounts.size == 0 %>
              <tr>
                <td colspan="18" class="center-align">No headcounts yet! Add a headcount</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
  <!-- <div class="row">
    <p class="center-align">Click on a building name to expand.</p>
  </div>
  <div class="row">    
    <div class="col s8 offset-s2">
      <ul class="collapsible" data-collapsible="expandable">
        <%# @buildings.each do |building| %>
          <li>
            <div class="collapsible-header blue-grey lighten-5">Building <%#building.building_number%>: <%#building.building_name%></div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s10 offset-s1 m6 offset-m3">
                  <table class="responsive-table centered">
                    <thead>
                      <th>Pen #</th>
                      <th>Headcount</th>
                    </thead>
                    <tbody>
                      <%#Pen.where(building_number: building.building_number).each do |pen|%>
                        <tr>
                          <td><%#pen.pen_number%></td>
                          <td><%#pen.daily_headcount%></td>
                        </tr>
                      <%# end %>
                    </tbody>
                  </table>
                </div>
              </div>              
            </div>
          </li>
        <%# end %>
      </ul>
    </div>          
  </div>-->
</main>