<ul id="sidebar" class="side-nav fixed blue-grey darken-4">
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Dashboard.svg", class:"svg sidebar-icons ", id: "dashboard-icon") + "<p>Dashboard</p></div>".html_safe, dashboard_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <% if user_signed_in? %>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Daily Litter Record.svg", class:"svg sidebar-icons ", id: "litter-icon") + "<p>Daily Litter Records</p></div>".html_safe, litters_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
      <li class="valign-wrapper sidebar-active flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Actual Daily Count.svg", class:"svg sidebar-icons ", id: "dailycount-icon") + "<p>Daily Counts</p></div>".html_safe, pens_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Mortality Records.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Removal Records</p></div>".html_safe, cause_of_removals_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("pig.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Pigs</p></div>".html_safe, pigs_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("logout.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Logout</p></div>".html_safe, destroy_user_session_path, method: :delete, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <% else %>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("login.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Login</p></div>".html_safe, new_user_session_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <% end %>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
<main>
  <div class="fixed container ">
    <div class="row valign-wrapper header">
      <%=image_tag "logo.svg", id: 'logo'%>
      <h5 class="valign">Daily Counts</h5>
      <!-- <a href="">logout</a> -->
    </div>
  </div>  
  <div class="row data">
    <div class="row buttons">
      <div class="col s6 offset-s3 center-align">
        <!-- <a class="waves-effect waves-light btn blue-grey darken-4" id="open">OPEN ALL</a>
        <a class="waves-effect waves-light btn blue-grey darken-4" id="close">CLOSE ALL</a> -->
        <div class="center-align row">
          <%= form_tag headcount_pens_path, method: :get, class: 'input-form' do %>
            <div class="row valign-wrapper">
              <div class="col s6 valign">
                <label class="right-align valign" for="headcount_date">Select date for new headcount:</label>
              </div>
              <div class="col s6">
                <%= date_field("headcount_date", "headcount_date", default: DateTime.now, max: Date.today, label: "Date of headcount:", class:'left-align', :order => [:month, :day, :year])%>
              </div>
            </div>
              <div class="row">
                <%= submit_tag "ADD NEW COUNT", class: "btn deep-orange darken-2 center-align" %>
              </div>

          <% end %>
        </div>
      </div>
    </div>
    <div class="row" id="all">
      <div class="col s10 offset-s1">
        <!-- <h6>Total counts as of: <%#@latest_date.strftime("%B %d, %Y")%></h6> -->
        <table class="responsive-table striped">
          <thead>
            <tr>
                <th data-field="building_number" class="right-align">Building #</th>
                <% (1..16).each do |i| %>
                  <td class="right-align"><%=i%></td>
                <%end%>
                <th>Total</th>
            </tr>
          </thead>

          <tbody>
            <% if @headcounts.size == 0 %>
              <tr>
                <td colspan="18" class="center-align">No headcounts yet! Add a headcount</td>
              </tr>
            <% else %>
              <%@dates.each do |date| %>
                <tr>
                  <% @total = 0 %>
                  <td class="right-align"><%=link_to date.headcount_date.strftime('%B %d, %Y'), headcount_pens_path(headcount_date: {headcount_date: date.headcount_date}), method: :get, target: '_new'%></td>
                  <% if (Pen.all.count - Pen.joins("LEFT OUTER JOIN headcounts on pens.pen_id = headcounts.pen_id").where("headcounts.headcount_date = ? ", date.headcount_date).count != -4) %>
                      <td colspan="18" class="center-align">Incomplete headcounts!</td>
                  <% else %>

                    <% (1..16).each do |bldg| %>
                      <td class="right-align"><%= @headcounts = Headcount.joins(:pen).where('pens.building_number = ? AND headcounts.headcount_date = ? ', bldg, date.headcount_date).sum('headcount') %></td>
                      <% @total = @total + @headcounts %>
                    <% end %>
                    <td class="text-bold"><%=@total%></td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>    
  </div>
</main>