<ul id="sidebar" class="side-nav fixed blue-grey darken-4">
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Dashboard.svg", class:"svg sidebar-icons ", id: "dashboard-icon") + "<p>Dashboard</p></div>".html_safe, dashboard_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="sidebar-active valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Daily Litter Record.svg", class:"svg sidebar-icons ", id: "litter-icon") + "<p>Daily Litter Records</p></div>".html_safe, dailylitterrecord_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Actual Daily Count.svg", class:"svg sidebar-icons ", id: "dailycount-icon") + "<p>Actual Daily Counts</p></div>".html_safe, actualdailycount_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Mortality Records.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Mortality Records</p></div>".html_safe, removal_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
<main>
  <%=image_tag "logo.svg", id: 'logo'%>
  <a href="">logo</a>
  <!-- Tabs of dashboard -->  
  <div class="row">
    <div class="col s12">
        <div class="indicator deep-orange darken-2" style="z-index:1">
          <ul class="tabs deep-orange-text text-darken-2">
              <li class="tab col s6 grey lighten-4"><a href="#all">All Daily Litter Records</a></li>
              <li class="tab col s6 grey lighten-4"><a href="#add">Add New Litter</a></li>
              <li class="tab col s6 grey lighten-4"><a href="#search">Search and Update Daily Litter Record</a></li>

          </ul>
        </div>
    </div>

  <!-- DATA -->

    <div id="all" class="col s12">
      <div class="container" style="width:100%">
      <div class="col s12">
      <br>
      <table class="striped">
        <thead>
          <tr>
              <th data-field="pig_id">Pig Number</th>
              <th data-field="sex">Sex</th>
              <th data-field="bweight">Birth Weight</th>
              <th data-field="wweight">Weaning Weight</th>
              <th data-field="dweaned">Date Weaned</th>
              <th data-field="month1">1-30</th>
              <th data-field="month2">31-60</th>
              <th data-field="month3">61-90</th>
              <th data-field="month4">91-120</th>
              <th data-field="month5">121-150</th>
              <th data-field="month6">160</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>2013-0001</td>
            <td>F</td>
            <td>5 kg</td>
            <td>15 kg</td>
            <td>04212016</td>
            <td>35 kg</td>
            <td>55 kg</td>
            <td>75 kg</td>
            <td>95 kg</td>
            <td>105 kg</td>
            <td>155 kg</td>
          </tr>
          <tr>
            <td>2013-0034</td>
            <td>F</td>
            <td>5 kg</td>
            <td>15 kg</td>
            <td>04212016</td>
            <td>35 kg</td>
            <td>55 kg</td>
            <td>75 kg</td>
            <td>95 kg</td>
            <td>105 kg</td>
            <td>155 kg</td>
          </tr>
          <tr>
            <td>2013-0046</td>
            <td>F</td>
            <td>5 kg</td>
            <td>15 kg</td>
            <td>04212016</td>
            <td>35 kg</td>
            <td>55 kg</td>
            <td>75 kg</td>
            <td>95 kg</td>
            <td>105 kg</td>
            <td>155 kg</td>
          </tr>
        </tbody>
      </table>
      </div>
      </div></div>

  <!-- ADD -->
    <div id="add" class="col s12">
       <div class="container">
        <div class="col s12">
      <br>

       
        <form class="col s12">
          <div class='row'>
              <div class='col s6 offset-s3 input-field'>
                  <input type="date" class="datepicker">
                  <!-- <label for='last_name'>Date Farrowed</label> -->
            </div>
          </div>
          <div class='col s6 input-field'>
                  <input id='last_name' type='text' class='validate'>  
                  <label for='last_name'>Sire ID</label>
            </div>
            <div class='col s6 input-field'>
                  <input id='last_name' type='text' class='validate'>  
                  <label for='last_name'>Dam ID</label>
            </div>
           <a class="waves-effect waves-light btn" onClick="addInput('dynamicInput');" style="margin: 2.5% 45%; value=">Add Pig</a>
          <div class='row'>
            <div class="col s12">
              <div class='row' id="dynamicInput" style="margin-left:10px">
                <div class='col s3'>
                  <div class="row" style="margin-bottom:0px; margin-left:35px;">
                    <h6 class="grey-text">Piglet 1</h6>
                  </div>
                  <div class='col s4 input-field'>
                    <input id='last_name' type='text' class='validate'>  
                    <label for='last_name'>Sex</label>
                  </div>
                  <div class='col s4 input-field'>
                    <input id='last_name' type='text' class='validate'>  
                    <label for='last_name'>Weight</label>
                  </div>
                </div>
                <div class='col s3'>
                  <div class="row" style="margin-bottom:0px; margin-left:35px;">
                    <h6 class="grey-text">Piglet 2</h6>
                  </div>
                  <div class='col s4 input-field'>
                    <input id='last_name' type='text' class='validate'>  
                    <label for='last_name'>Sex</label>
                  </div>
                  <div class='col s4 input-field'>
                    <input id='last_name' type='text' class='validate'>  
                    <label for='last_name'>Weight</label>
                  </div>
                </div>
                <div class='col s3'>
                  <div class="row" style="margin-bottom:0px; margin-left:35px;">
                    <h6 class="grey-text">Piglet 3</h6>
                  </div>
                  <div class='col s4 input-field'>
                    <input id='last_name' type='text' class='validate'>  
                    <label for='last_name'>Sex</label>
                  </div>
                  <div class='col s4 input-field'>
                    <input id='last_name' type='text' class='validate'>  
                    <label for='last_name'>Weight</label>
                  </div>
                </div>
                <div class='col s3'>
                  <div class="row" style="margin-bottom:0px; margin-left:35px;">
                    <h6 class="grey-text">Piglet 4</h6>
                  </div>
                  <div class='col s4 input-field'>
                    <input id='last_name' type='text' class='validate'>  
                    <label for='last_name'>Sex</label>
                  </div>
                  <div class='col s4 input-field'>
                    <input id='last_name' type='text' class='validate'>  
                    <label for='last_name'>Weight</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
             <a class="waves-effect waves-light btn"  style="margin: 2.5% 43%; value=">Submit</a>
        </form>
      </div>
       
      </div>
    </div>
    <div id="search" class="col s12">
    </div>
  </div>
</main>
