<ul id="sidebar" class="side-nav fixed blue-grey darken-4">
  	<li class="sidebar-active valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Dashboard.svg", class:"svg sidebar-icons ", id: "dashboard-icon") + "<p>Dashboard</p></div>".html_safe, dashboard_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
  	<% if user_signed_in? %>
	  	<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Daily Litter Record.svg", class:"svg sidebar-icons ", id: "litter-icon") + "<p>Daily Litter Records</p></div>".html_safe, litters_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
	  	<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Actual Daily Count.svg", class:"svg sidebar-icons ", id: "dailycount-icon") + "<p>Daily Counts</p></div>".html_safe, pens_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
	  	<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Mortality Records.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Removal Records</p></div>".html_safe, cause_of_removals_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
	  	<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("pig.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Pigs</p></div>".html_safe, pigs_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
	  	<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("logout.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Logout</p></div>".html_safe, destroy_user_session_path, method: :delete, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
	<% else %>
		<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("login.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Login</p></div>".html_safe, new_user_session_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
	<% end %>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
<main>
	<div class="fixed container header">
      	<div class="row valign-wrapper">
	      	<%=image_tag "logo.svg", id: 'logo'%>
	      	<h5 class="valign">Dashboard</h5>
	      	<a class="waves-effect waves-light blue-grey darken-4 btn dropdown-button" name="litter" data-beloworigin="true" data-constrainwidth="false" data-activates='dropcardographs'>EXPORT CARDOGRAPHS</a>
	      	<ul id='dropcardographs' class='dropdown-content'>
			    <li class="center-align"><a class="exportbutton center-align">CSV</a></li>
			    <li class="center-align"><%=link_to "PDF", export_cardograph_path(format: 'pdf'), method: :get, class: 'center-align', target: '_new'%></li>
			</ul>
			<ul id='dropyearly' class='dropdown-content'>
			    <li class="center-align"><a class="exportbutton center-align">CSV</a></li>
			    <li class="center-align"><%=link_to "PDF", export_yearlyparameters_path(format: 'pdf'), method: :get,  class: 'center-align', target: '_new'%></li>
			</ul>
			<ul id='dropmonthly' class='dropdown-content'>
			    <li class="center-align"><a class="exportbutton center-align">CSV</a></li>
			    <li class="center-align"><%=link_to "PDF", export_monthlyparameters_path(format: 'pdf'), method: :get,  class: 'center-align', target: '_new'%></li>
			</ul>
			
	      <!-- <a href="">logout</a> -->
	   	</div>
    <!-- Tabs of dashboard -->  
    	<div class="row">
	    	<div class="col s10 offset-s1">
		  		<div class="indicator deep-orange darken-2" style="z-index:1">
		    		<ul class="tabs deep-orange-text text-darken-2">
		      			<li class="tab grey lighten-4" id="cardographtab"><a href="#card-o-graph">Card-o-graph</a></li>
		      			<li class="tab grey lighten-4" id="monthlytab"><a href="#monthly">Monthly Parameters</a></li>
		      			<li class="tab grey lighten-4" id="yearlytab"><a href="#yearly">Yearly Parameters</a></li>
		      			
		    		</ul>
		  		</div>
			</div>
	    </div>
	</div>		

	<!-- Put card-o-graph shit here -->
	<div class="row data-withtabs">
		<div id="card-o-graph" class="col s12">
    		<div class="container" style="width:100%">
    			<div class="col s12">
			    	<table class="striped responsive-table fixed-table export-table" id="dashboard-table">
				        <thead>
				          <tr>
				          	<th></th>
				          	<th colspan="7" class="center-align border-side">Population</th>
				          	<th colspan="2" class="center-align border-side">Removal</th>
				          <tr>
				            <th data-field="date">Date</th>
				             <!--  <th data-field="cs">CS</th>
				              <th data-field="cb">CB</th>
				              <th data-field="cg">CG</th>
				              <th data-field="wo">WO</th>
				              <th data-field="lds">LDS</th>
				              <th data-field="ds">DS</th>
				              <th data-field="rg">RG</th>
				              <th data-field="b">B</th>
				              <th data-field="nbrb">NB/RB</th>
				              <th data-field="ls">LS</th> -->
							<th data-field="gs" class="right-align border-left">Gestating</th>
							<th data-field="fs" class="right-align">Farrowing</th>
							<th data-field="sp" class="right-align">Suckling Piglets</th>
							<th data-field="ps" class="right-align">Pre-Starter</th>
							<th data-field="s" class="right-align">Starter</th>
							<th data-field="g" class="right-align">Grower</th>
							<th data-field="f" class="right-align border-right">Fattener</th>
							<th data-field="sp" class="right-align">Mortality</th>
							<th data-field="f" class="right-align border-right">Sales</th>
							<th data-field="tp" class="right-align">Total Population</th>
							<th data-field="remarks">Remarks</th>

				          </tr>
				        </thead>

				        <tbody>
				        	<%@dates.each do |date| %>
				                <tr>	
				                	<% @building_headcount = Array.new(17, 0) %>
				                  	<% total = 0 %>
				                  	
				                  	<% starter = 0 %>
				                  	<% pre_starter = 0 %>
				                  	<% fattener = 0 %>
				                  	<% grower = 0 %>
				                  	<% gestating = 0 %>
				                  	<% farrowing = 0 %>
				                  	<td class="left-align"><%=date.strftime('%B %d, %Y')%></td>

				                    <% (1..16).each do |bldg| %>
				                      <% headcounts = Headcount.joins(:pen).where('pens.building_number = ? AND headcounts.headcount_date = ? ', bldg,date).sum('headcount') %>
				                      <% total = total + headcounts %>
				                      <% per_building = 0 %>
				                      <% per_building = per_building + headcounts %>
									  <% @building_headcount[bldg] = per_building %>
				                    <% end %>

				                    
				                    <% (8..11).each do |bldg| %>
				                    	<%gestating = gestating + @building_headcount[bldg] %>
				                    <% end %>
				                    <% (14..16).each do |bldg| %>
				                    	<%farrowing = farrowing + @building_headcount[bldg] %>
				                    <% end %>
				                    <% (2..6).each do |bldg| %>
				                    	<%grower = grower + @building_headcount[bldg] %>
				                    <% end %>
				                    <% pre_starter = @building_headcount[13] %>
				                    <% starter = @building_headcount[7] + @building_headcount[12] %>
				                    <% fattener = @building_headcount[1] %>
				                    
				                    <td class="right-align"><%= gestating %></td>
				                    <td class="right-align"><%= farrowing %></td>
				                    <td class="right-align"></td>
				                    <td class="right-align"><%= pre_starter %></td>
				                    <td class="right-align"><%= starter %></td>
				                    <td class="right-align"><%= grower %></td>
				                    <td class="right-align"><%= fattener %></td>
				                    

				                    <td class="right-align"><%= CauseOfRemoval.where(date_of_removal: date, sale: 0).count %></td>
				                    <td class="right-align"><%= CauseOfRemoval.where(date_of_removal: date, sale: 1).count %></td>
				                    <td class="right-align text-bold"><%= total - CauseOfRemoval.where(date_of_removal: date).count %></td>
				                    <td></td>
				                </tr>
				              <% end %>
				              <% (1..16).each do |row| %>
				                <tr>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                </tr>
				              <% end %>
				        </tbody>
			      	</table>
			      	<table id="header-fixed"></table>
  	  			</div>
  	  		</div>
  	  	</div>

	<!-- Put yearly parameters shit here -->
		<div id="monthly" class="col s12">
			<div class="container" style="width:100%">
				<div class="col s12">
					<table class="striped responsive-table fixed-table1 export-table" id="dashboard-table">
				        <thead>
				          <tr>
				          	  <th></th>
				              <th data-field="date">Litters Farrowed</th>
				              <th data-field="pig_id" class="right-align">Litter Size at Birth</th>
				              <th data-field="sex" class="right-align">Alive</th>
				              <th data-field="building_id" class="right-align">Mummified</th>
				              <th data-field="psigns" class="right-align">Stillborn</th>
				              <th data-field="treatment" class="right-align">Percentage Mummified</th>
				              <th data-field="cdeath" class="right-align">Percentage Stillborn</th>
				              <th data-field="remarks" class="right-align">Average Birth Weight</th>
				              <th data-field="remarks" class="right-align">Weaning Age Days</th>
				              <th data-field="remarks" class="right-align">Average Weaning Weight</th>
				              <th data-field="remarks" class="right-align">Gestation Period</th>
				              <th data-field="remarks" class="right-align">Mortality - Total Population</th>
				              <th data-field="remarks" class="right-align">Average Parity</th>
				          </tr>
				        </thead>

				        <tbody>
				          <% @monthlyparameters.each do |month| %>
				          	<tr>
				          		<% @litter = Litter.litters_per_month(month.first)%>
				          		<% average_birth_weight = 0.0 %>
				          		<% number_of_pigs = 0 %>
				          		<% weaning_age = 0 %>
				          		<% weaning_weight = 0.0 %>
				          		<% gestation_period = 0 %>
				          		<% parity = 0 %>
				          		<% @litter.each do |litter| %>	
				          			<% gestation_period = gestation_period + (litter.actual_date_of_farrowing.to_date - litter.date_bred.to_date).to_i %>
				          			<% parity = parity + litter.parity_number %>
				          			<% litter.pigs.each do |pig| %>
				          				<% average_birth_weight = average_birth_weight + pig.birth_weight %>
				          				<% if !pig.date_weaned.nil? %>
				          					<% weaning_age = weaning_age + ((pig.date_weaned.to_date - pig.date_of_birth.to_date).to_i) %>
				          				<% end %>
				          				<% weaning_weight = weaning_weight + pig.weaning_weight %>
				          				<% number_of_pigs = number_of_pigs + 1 %>
				          			<% end %>
				          		<% end %>
				          		<td class="text-bold right-align"><%=Date::MONTHNAMES[Integer(month.first[5..6])] + " " + month.first[0..3]%></td>
				          		<td class="right-align"><%=@litter.count%></td>
				          		<td class="right-align"><%=@litter.sum("litter_size_at_birth")%></td>
				          		<td class="right-align"><%=@litter.sum("litter_size_at_birth - (mummified_piglets + stillborn_piglets)")%></td>
				          		<td class="right-align"><%=@litter.sum("mummified_piglets")%></td>
				          		<td class="right-align"><%=@litter.sum("stillborn_piglets")%></td>
				          		<td class="right-align"><%=number_with_precision(@litter.sum("mummified_piglets").to_f/@litter.sum("litter_size_at_birth")*100, precision: 2) + "%"%></td>
				          		<td class="right-align"><%=number_with_precision(@litter.sum("stillborn_piglets").to_f/@litter.sum("litter_size_at_birth")*100, precision: 2) + "%"%></td>
				          		
				          		<td class="right-align"><%= number_with_precision(average_birth_weight/number_of_pigs, precision:2) %></td>
				          		<td class="right-align"><%= number_with_precision(weaning_age/@litter.count, precision: 2) %></td>
				          		<td class="right-align"><%= number_with_precision(weaning_weight/@litter.sum("litter_size_at_birth"), precision: 2) %></td>
				          		<td class="right-align"><%= number_with_precision(gestation_period/@litter.count, precision:2)%></td>
				          		<td class="right-align"><%= CauseOfRemoval.mortality_per_month(month.first).count %></td>
				          		<td class="right-align"><%= number_with_precision(parity/@litter.count, precision: 2)%></td>
				          	</tr>
				          <% end %>
				          <% (1..16).each do |row| %>
				                <tr>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                </tr>
				              <% end %>
				        </tbody>
			      	</table>
			      	<table id="header-fixed1"></table>
			     </div>
			</div>
		</div>

		<div id="yearly" class="col s12">
			<div class="container" style="width:100%">
				<div class="col s12">
					<table class="striped responsive-table fixed-table1 export-table" id="dashboard-table">
				        <thead>
				          <tr>
				          	  <th></th>
				              <th data-field="date">Litters Farrowed</th>
				              <th data-field="pig_id" class="right-align">Litter Size at Birth</th>
				              <th data-field="sex" class="right-align">Alive</th>
				              <th data-field="building_id" class="right-align">Mummified</th>
				              <th data-field="psigns" class="right-align">Stillborn</th>
				              <th data-field="treatment" class="right-align">Percentage Mummified</th>
				              <th data-field="cdeath" class="right-align">Percentage Stillborn</th>
				              <th data-field="remarks" class="right-align">Average Birth Weight</th>
				              <th data-field="remarks" class="right-align">Weaning Age Days</th>
				              <th data-field="remarks" class="right-align">Average Weaning Weight</th>
				              <th data-field="remarks" class="right-align">Gestation Period</th>
				              <th data-field="remarks" class="right-align">Mortality - Total Population</th>
				              <th data-field="remarks" class="right-align">Average Parity</th>
				          </tr>
				        </thead>

				        <tbody>
				          <% @yearlyparameters.each do |year| %>
				          	<tr>
				          		<% @litter = Litter.litters_per_year(year.first)%>
				          		<% average_birth_weight = 0.0 %>
				          		<% number_of_pigs = 0 %>
				          		<% weaning_age = 0 %>
				          		<% weaning_weight = 0.0 %>
				          		<% gestation_period = 0 %>
				          		<% parity = 0 %>
				          		<% @litter.each do |litter| %>	
				          			<% gestation_period = gestation_period + (litter.actual_date_of_farrowing.to_date - litter.date_bred.to_date).to_i %>
				          			<% parity = parity + litter.parity_number %>
				          			<% litter.pigs.each do |pig| %>
				          				<% average_birth_weight = average_birth_weight + pig.birth_weight %>
				          				<% if !pig.date_weaned.nil? %>
				          					<% weaning_age = weaning_age + ((pig.date_weaned.to_date - pig.date_of_birth.to_date).to_i) %>
				          				<% end %>
				          				<% weaning_weight = weaning_weight + pig.weaning_weight %>
				          				<% number_of_pigs = number_of_pigs + 1 %>
				          			<% end %>
				          		<% end %>
				          		<td class="text-bold"><%=year.first.to_s[0..3]%></td>
				          		<td class="right-align"><%=@litter.count%></td>
				          		<td class="right-align"><%=@litter.sum("litter_size_at_birth")%></td>
				          		<td class="right-align"><%=@litter.sum("litter_size_at_birth - (mummified_piglets + stillborn_piglets)")%></td>
				          		<td class="right-align"><%=@litter.sum("mummified_piglets")%></td>
				          		<td class="right-align"><%=@litter.sum("stillborn_piglets")%></td>
				          		<td class="right-align"><%=number_with_precision(@litter.sum("mummified_piglets").to_f/@litter.sum("litter_size_at_birth")*100, precision: 2) + "%"%></td>
				          		<td class="right-align"><%=number_with_precision(@litter.sum("stillborn_piglets").to_f/@litter.sum("litter_size_at_birth")*100, precision: 2) + "%"%></td>
				          		
				          		<td class="right-align"><%= number_with_precision(average_birth_weight/number_of_pigs, precision:2) %></td>
				          		<td class="right-align"><%= number_with_precision(weaning_age/@litter.count, precision: 2) %></td>
				          		<td class="right-align"><%= number_with_precision(weaning_weight/@litter.sum("litter_size_at_birth"), precision: 2) %></td>
				          		<td class="right-align"><%= number_with_precision(gestation_period/@litter.count, precision:2)%></td>
				          		<td class="right-align"><%= CauseOfRemoval.mortality_per_year(year.first).count %></td>
				          		<td class="right-align"><%= number_with_precision(parity/@litter.count, precision: 2)%></td>
				          	</tr>
				          <% end %>
				          <% (1..16).each do |row| %>
				                <tr>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                  <td></td>
				                </tr>
				              <% end %>
				        </tbody>
			      	</table>
			      	<table id="header-fixed2"></table>
			     </div>
			</div>
		</div>
	</div>
</main>