<ul id="sidebar" class="side-nav fixed blue-grey darken-4">
  	<li class="sidebar-active valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Dashboard.svg", class:"svg sidebar-icons ", id: "dashboard-icon") + "<p>Dashboard</p></div>".html_safe, dashboard_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
  	<% if user_signed_in? %>
	  	<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Daily Litter Record.svg", class:"svg sidebar-icons ", id: "litter-icon") + "<p>Daily Litter Records</p></div>".html_safe, litters_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
	  	<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Actual Daily Count.svg", class:"svg sidebar-icons ", id: "dailycount-icon") + "<p>Daily Counts</p></div>".html_safe, pens_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
	  	<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Mortality Records.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Removal Records</p></div>".html_safe, cause_of_removals_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
	  	<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("pig.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Pigs</p></div>".html_safe, pigs_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
	  	<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("logout.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Logout</p></div>".html_safe, destroy_user_session_path, method: :delete, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
	<% else %>
		<li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("login.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Login</p></div>".html_safe, new_user_session_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
	<% end %>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
<main>
	<div class="fixed container">
      	<div class="row valign-wrapper header">
	      	<%=image_tag "logo.svg", id: 'logo'%>
	      	<h5 class="valign">Dashboard</h5>
	      <!-- <a href="">logout</a> -->
	   	</div>
    <!-- Tabs of dashboard -->  
    	<div class="row">
	    	<div class="col s10 offset-s1">
		  		<div class="indicator deep-orange darken-2" style="z-index:1">
		    		<ul class="tabs deep-orange-text text-darken-2">
		      			<li class="tab grey lighten-4"><a href="#card-o-graph">Card-o-graph</a></li>
		      			<li class="tab grey lighten-4"><a href="#monthly">Monthly Parameters</a></li>
		      			<li class="tab grey lighten-4"><a href="#yearly">Yearly Parameters</a></li>
		    		</ul>
		  		</div>
			</div>
	    </div>
	</div>		

	<!-- Put card-o-graph shit here -->
	<div class="row data-withtabs">
		<div id="card-o-graph" class="col s12">
    		<div class="container" style="width:100%">
    			<div class="col s12">
			    	<table class="striped responsive-table">
				        <thead>
				          <tr>
				              <th data-field="date">Date</th>
				              <th data-field="cs">CS</th>
				              <th data-field="cb">CB</th>
				              <th data-field="cg">CG</th>
				              <th data-field="wo">WO</th>
				              <th data-field="lds">LDS</th>
				              <th data-field="ds">DS</th>
				              <th data-field="rg">RG</th>
				              <th data-field="b">B</th>
				              <th data-field="nbrb">NB/RB</th>
				              <th data-field="ls">LS</th>
				              <th data-field="gs">GS</th>
				              <th data-field="fs">FS</th>
				              <th data-field="sp">SP</th>
				              <th data-field="ps">PS</th>
				              <th data-field="s">S</th>
				              <th data-field="g">G</th>
				              <th data-field="f">F</th>
				              
				              <th data-field="sp">SP</th>
				              <th data-field="ps">PS</th>
				              <th data-field="s">S</th>
				              <th data-field="g">G</th>
				              <th data-field="f">F</th>
				              <th data-field="b">B</th>
				              <th data-field="total">Total</th>

				              <th data-field="f">F</th>
				              <th data-field="g">G</th>
				              <th data-field="gs">SG</th>
				              <th data-field="cs">CS</th>
				              <th data-field="g">G</th>
				              <th data-field="cb">CB</th>
				              <th data-field="gs">GS</th>
				              <th data-field="b">B</th>
				              <th data-field="x">X</th>

				              <th data-field="tp">TP</th>
				              <th data-field="remarks">Remarks</th>

				          </tr>
				        </thead>

				        <tbody>
				        	<%@dates.each do |date| %>
				                <tr>	
				                  	<% total = 0 %>
				                  	<% starter = 0 %>
				                  	<% pre_starter = 0 %>
				                  	<% fattener = 0 %>
				                  	<% grower = 0 %>
				                  	<% gestating = 0 %>
				                  	<% farrowing = 0 %>
				                  	<td class="right-align"><%=link_to date.headcount_date.strftime('%B %d, %Y'), headcount_pens_path(headcount_date: {headcount_date: date.headcount_date}), method: :get, target: '_new'%></td>
				                  	<td></td>
				                	<td></td>
				                	<td></td>
				                	<td></td>
				                	<td></td>
				                	<td></td>
				                	<td></td>
				                	<td></td>
				                	<td></td>
				                	<td></td>
				                	<td></td>
				                	<td></td>
				                    <% (1..16).each do |bldg| %>
				                      <td class="right-align"><%= headcounts = Headcount.joins(:pen).where('pens.building_number = ? AND headcounts.headcount_date = ? ', bldg, date.headcount_date).sum('headcount') %></td>
				                      <% total = total + headcounts %>
				                      <% @building_headcount[bldg] = total %>
				                    <% end %>
				                </tr>
				              <% end %>
				        </tbody>
			      	</table>
  	  			</div>
  	  		</div>
  	  	</div>
	<!-- Put mortality records shit here -->
		<div id="monthly" class="col s12">
		      
		</div>

	<!-- Put yearly parameters shit here -->
		<div id="yearly" class="col s12">
			<table class="striped responsive-table">
		        <thead>
		          <tr>
		          	  <th></th>
		              <th data-field="date">Litters Farrowed</th>
		              <th data-field="pig_id">Litter Size at Birth</th>
		              <th data-field="sex">Alive</th>
		              <th data-field="building_id">Mummified</th>
		              <th data-field="psigns">Stillborn</th>
		              <th data-field="treatment">Percentage Mummified</th>
		              <th data-field="cdeath">Percentage Stillborn</th>
		              <th data-field="remarks">Average Birth Weight</th>
		              <th data-field="remarks">Litter Size at Weaning</th>
		              <th data-field="remarks">Weaning Age Days</th>
		              <th data-field="remarks">Average Weaning Weight</th>
		              <th data-field="remarks">WCI Days</th>
		              <th data-field="remarks">Gestation Period</th>
		              <th data-field="remarks">Farrowing Interval Days</th>
		              <th data-field="remarks">Conception Rate</th>
		              <th data-field="remarks">Farrowing Rate</th>
		              <th data-field="remarks">Pre-Weaning Mortality</th>
		              <th data-field="remarks">Mortality - Total Population</th>
		              <th data-field="remarks">Adjusted 30 Days Weight</th>
		              <th data-field="remarks">Average Daily Gain</th>
		              <th data-field="remarks">Adjusted 180 Days Weight</th>
		              <th data-field="remarks">Average Parity</th>
		              <th data-field="remarks">Pure/F1/Premium</th>
		              <th data-field="remarks">Replacement Gilt</th>
		              <th data-field="remarks">EG EST Parity EDTF/ADF</th>
		              <th data-field="remarks">RB/WO (Breeding)</th>
		              <th data-field="remarks">Effective Sow</th>
		          </tr>
		        </thead>

		        <tbody>
		          <% @monthlyparameters.each do |month| %>
		          	<tr>
		          		<% @litter = Litter.litters_per_time(month.first)%>
		          		<% average_birth_weight = 0.0 %>
		          		<% number_of_pigs = 0 %>
		          		<% weaning_age = 0 %>
		          		<% weaning_weight = 0.0 %>
		          		<% gestation_period = 0 %>
		          		<% parity = 0 %>
		          		<% @litter.each do |litter| %>	
		          			<% gestation_period = gestation_period + (litter.actual_date_of_farrowing.to_date - litter.date_bred.to_date).to_i %>
		          			<% parity = parity + litter.parity_number %>
		          			<% litter.pigs.each do |pig| %>
		          				<% average_birth_weight = average_birth_weight + pig.birth_weight %>
		          				<% if !pig.date_weaned.nil? %>
		          					<% weaning_age = weaning_age + ((pig.date_weaned.to_date - pig.date_of_birth.to_date).to_i) %>
		          				<% end %>
		          				<% weaning_weight = weaning_weight + pig.weaning_weight %>
		          				<% number_of_pigs = number_of_pigs + 1 %>
		          			<% end %>
		          		<% end %>
		          		<td class="right-align"><%=Date::MONTHNAMES[Integer(month.first[5..6])] + ", " + month.first[0..3]%></td>
		          		<td class="right-align"><%=@litter.count%></td>
		          		<td class="right-align"><%=@litter.sum("litter_size_at_birth")%></td>
		          		<td class="right-align"><%=@litter.sum("litter_size_at_birth - (mummified_piglets + stillborn_piglets)")%></td>
		          		<td class="right-align"><%=@litter.sum("mummified_piglets")%></td>
		          		<td class="right-align"><%=@litter.sum("stillborn_piglets")%></td>
		          		<td class="right-align"><%=number_with_precision(@litter.sum("mummified_piglets").to_f/@litter.sum("litter_size_at_birth")*100, precision: 2) + "%"%></td>
		          		<td class="right-align"><%=number_with_precision(@litter.sum("stillborn_piglets").to_f/@litter.sum("litter_size_at_birth")*100, precision: 2) + "%"%></td>
		          		
		          		<td class="right-align"><%= number_with_precision(average_birth_weight/number_of_pigs, precision:2) %></td>
		          		<td></td>
		          		<td class="right-align"><%= number_with_precision(weaning_age/@litter.count, precision: 2) %></td>
		          		<td class="right-align"><%= number_with_precision(weaning_weight/@litter.sum("litter_size_at_birth"), precision: 2) %></td>
		          		<td>WCI</td>
		          		<td class="right-align"><%= number_with_precision(gestation_period/@litter.count, precision:2)%></td>
		          		<td></td>
		          		<td></td>
		          		<td></td>
		          		<td></td>
		          		<td></td>
		          		<td></td>
		          		<td></td>
		          		<td></td>
		          		<td class="right-align"><%= number_with_precision(parity/@litter.count, precision: 2)%></td>
		          	</tr>
		          <% end %>
		        </tbody>
	      	</table>
		</div>
	</div>
</main>