<ul id="sidebar" class="side-nav fixed blue-grey darken-4">
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Dashboard.svg", class:"svg sidebar-icons ", id: "dashboard-icon") + "<p>Dashboard</p></div>".html_safe, dashboard_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <% if user_signed_in? %>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Daily Litter Record.svg", class:"svg sidebar-icons ", id: "litter-icon") + "<p>Daily Litter Records</p></div>".html_safe, litters_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Actual Daily Count.svg", class:"svg sidebar-icons ", id: "dailycount-icon") + "<p>Daily Counts</p></div>".html_safe, pens_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
      <li class="sidebar-active valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Mortality Records.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Removal Records</p></div>".html_safe, cause_of_removals_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("pig.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Pigs</p></div>".html_safe, pigs_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("logout.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Logout</p></div>".html_safe, destroy_user_session_path, method: :delete, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <% else %>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("login.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Login</p></div>".html_safe, new_user_session_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <% end %>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
<main>
  <div class="fixed container header">
    <div class="row valign-wrapper">
      <%=image_tag "logo.svg", id: 'logo'%>
      <h5 class="valign">Removal Records</h5>
      <%= link_to "ADD RECORD", new_cause_of_removal_path, class: "btn deep-orange darken-2 center-align", method: :get %>
      <a class="waves-effect waves-light blue-grey darken-4 btn exportbutton" download="removal_records">EXPORT</a>
      <div class="legend">
            <p class="valign-wrapper">Legend:
            <svg width="20" height="20" class="valign pig-icons"><circle cx="10" cy="10" class="Died" r="6"></circle></svg>Died
            <svg width="20" height="20" class="valign pig-icons"><circle cx="10" cy="10" class="Sold" r="6"></circle></svg>Sold</p>
          </div>
      <!-- <a href="">logout</a> -->
    </div>
  </div> 
  <div class="row data">

    <div id="data" class="col s8 offset-s2">
      <div class="container" style="width:100%">
        <div class="col s12">
        <div class="row">
              <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: name + ' center-align green-text text-darken-4' %>
          <% end -%>
        </div>
        <div class="row">
        <h5 class="center-align">Dead pigs: <span class="text-bold"><%=CauseOfRemoval.count - CauseOfRemoval.where(sale: 0).count %></span> | Sold pigs: <span class="text-bold"><%=CauseOfRemoval.count - CauseOfRemoval.where(sale: 1).count %></span></h5>
        </div>
        <table class="striped fixed-table export-table" style="width:100%">
          <thead>
            <tr>                
                <th data-field="date">Date</th>
                <th data-field="pig_id" class="left-align">Ear Notch Number</th>
                <th data-field="sex">Sex</th>
                <th data-field="building_id" class="right-align">Weight on Removal (kg)</th>
                <th class="left-align">Remarks</th>
                <th></th>
            </tr>
          </thead>

          <tbody>
            <% @cause_of_removals.order('date_of_removal DESC').each do |record| %>
              <tr>
                <%cause = record.sale ? "Sold" : "Died"%>
                <td><%=record.date_of_removal.strftime('%B %d, %Y')%></td>
                <td class="left-align valign-wrapper"><svg width="20" height="20" class="valign pig-icons"><circle cx="10" cy="10" class="<%=cause%>" r="6"></circle></svg><a href="#<%=record.pig.pig_id%>" class="modal-trigger"><%= record.pig.ear_notch_number.to_s[2..-1] %></a></td>
                <td><%=record.pig.sex%></td>
                <td class="right-align"><%=record.weight_on_removal%></td>
                <td><%=record.remarks%></td>
                <td><%= link_to "Edit", edit_cause_of_removal_path(record.removal_id), method: :get%></td>
              </tr>
              <div id="<%=record.pig.pig_id%>" class="modal modal-fixed-footer <%= record.pig.sex %>">
                  <div class="modal-content">
                      <h3 class="center-align text-bold"><%=record.pig.ear_notch_number.to_s[2..-1]%> - <%=record.pig.sex%></h3>
                      <div class="row">
                        <div class="col s6 right-align">
                          Status:
                        </div>
                        <div class="col s6 left-align text-bold">
                          <%=cause %>
                        </div>
                      </div><div class="row">
                        <div class="col s6 right-align">
                          Breed:
                        </div>
                        <div class="col s6 left-align text-bold">
                          <%=record.pig.try(:breed) %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s6 right-align">
                          Date of birth:
                        </div>
                        <div class="col s6 left-align text-bold">
                          <%=record.pig.try(:date_of_birth).strftime("%B %d, %Y") %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s6 right-align">
                          Birth weight:
                        </div>
                        <div class="col s6 left-align text-bold">
                          <%=record.pig.try(:birth_weight) %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s6 right-align">
                          Date weaned:
                        </div>
                        <div class="col s6 left-align text-bold">
                          <%=record.pig.date_weaned.present? ? record.pig.date_weaned.strftime("%B %d, %Y") : "Not yet weaned."  %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s6 right-align">
                          Weaning weight:
                        </div>
                        <div class="col s6 left-align text-bold">
                          <%=record.pig.weaning_weight == 0.00 ? "Not yet weaned." : record.pig.weaning_weight%>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s6 right-align">
                          Dam:
                        </div>
                        <div class="col s6 left-align text-bold">
                          <%= record.pig.try(:litter).try(:dam).try(:ear_notch_number).to_s[2..-1] || "N/A" %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s6 right-align">
                          Sire:
                        </div>
                        <div class="col s6 left-align text-bold">
                          <%= record.pig.try(:litter).try(:sire).try(:ear_notch_number).to_s[2..-1] || "N/A" %>
                        </div>
                      </div>  
                      <div class="row">
                        <div class="col s6 right-align">
                          Remarks:
                        </div>
                        <div class="col s4 left-align text-bold">
                          <%= record.pig.try(:remarks) || "N/A" %>
                        </div>
                      </div>                    
                  </div>
                  <div class="modal-footer">
                      <a class="modal-action modal-close waves-effect waves-deep-orange text-bold btn-flat deep-orange-text text-darken-2">Close</a>
                  </div>
              </div>
            <% end %>
            <% (1..8).each do |row| %>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <table id="header-fixed"></table>
        </div>
      </div>
    </div>
  </div>
</main>