<ul id="sidebar" class="side-nav fixed blue-grey darken-4">
    <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Dashboard.svg", class:"svg sidebar-icons ", id: "dashboard-icon") + "<p>Dashboard</p></div>".html_safe, dashboard_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <% if user_signed_in? %>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Daily Litter Record.svg", class:"svg sidebar-icons ", id: "litter-icon") + "<p>Daily Litter Records</p></div>".html_safe, litters_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Actual Daily Count.svg", class:"svg sidebar-icons ", id: "dailycount-icon") + "<p>Daily Counts</p></div>".html_safe, pens_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
      <li class="sidebar-active valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("Mortality Records.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Removal Records</p></div>".html_safe, cause_of_removals_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("pig.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Pigs</p></div>".html_safe, pigs_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("logout.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Logout</p></div>".html_safe, destroy_user_session_path, method: :delete, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <% else %>
      <li class="valign-wrapper flex"><%= link_to "<div class='valign hi'>".html_safe + image_tag("login.svg", class:"svg sidebar-icons ", id: "mortality-icon") + "<p>Login</p></div>".html_safe, new_user_session_path, method: :get, class: "blue-grey-text text-lighten-3 nohover center-align"  %></li>
    <% end %>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
<main>
  <div class="fixed container ">
      <div class="row valign-wrapper header">
        <%=image_tag "logo.svg", id: 'logo'%>
        <%= link_to "Removal Records", cause_of_removals_path, class:'valign', method: :get%>
        <!-- <h5 class="valign">Daily Litter Records</h5> -->
        <h5 class="valign separator">></h5>
        <h5 class="valign">New Removal Record</h5>
        <!-- <a href="">logout</a> -->
      </div>
  </div>
  <!-- DATA -->
  <div class="row data">
        <div id="add" class="col s10 offset-s1">
       <div class="container">
        <div class="col s10 offset-s1">       
        <%= simple_form_for @cause_of_removal, html: { class: "input-form", id: "add-cause_of_removal-form"} do |f|%>
          <div class="row">
            <div class="row">
              <h6>Cause of Removal Information:</h6>
            </div>
            <div class="row">
              <div class="col s8">

                <%= f.hidden_field :pig_id, :id => "pig_id_val" %>
                <%= f.input :pig, url: autocomplete_pig_ear_notch_number_cause_of_removals_path(removed: 0), as: :autocomplete, label: "Ear notch number", required: true, id_element: '#pig_id_val'%>
    
              </div>
              <div class="col s4">
                <%= f.input :date_of_removal, as: :string, input_html: {type: :date} %>
              </div>
              
            
                  
            </div>
            <div class="row">
              <div class="col s12">
                  <%= f.input :sale, as: :select, collection: [["Sale", true], [ "Death", false]], label: "Mode of Removal"%>
                </div>
            </div>
            <div class="row">
              <div class="col s12">
                <%= f.input :weight_on_removal, label: 'Weight on removal (kg)'%>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <%= f.input :remarks %>
            </div>
          </div>
          <div class="center-align row">
            <%= f.button :submit, label: 'CREATE CAUSE OF REMOVAL', class: 'center-align', id: 'submit-cause_of_removal' %>
          </div>
        <% end %>
        </div>       
      </div>
    </div>
  </div>
</main>
